@tailwind base;
@tailwind components;
@tailwind utilities;


/* This will apply to both horizontal and vertical scrollbars */
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/* This will apply to the horizontal scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #3a424d;
    border-radius: 20px;
    height: 1px;
}

/* This will apply to the horizontal scrollbar track */
::-webkit-scrollbar-track {
    background: #0c131c
}
.markdown>* {
    all: revert;
}

.sample-drag-bar {
    flex-shrink: 0;
    width: 3px;
    background-color: #d1d5db;
    cursor: col-resize;
    transition: background-color 0.15s 0.15s ease-in-out;
}
.sample-drag-bar:hover{
    width: 3px;
}

.sample-drag-bar.sample-drag-bar--dragging,
.sample-drag-bar:hover {
    background-color: #63B3ED;
}

.sample-drag-bar.sample-drag-bar--horizontal {
    height: 3px;
    width: 100%;
    cursor: row-resize;
}