@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #3a424d;
    border-radius: 20px;
    width: 1px;
}

.markdown>* {
    all: revert;
}